# Ignorar HTML nas estatísticas de linguagem
*.html linguist-generated=true

# Ignorar documentação
docs/** linguist-documentation=true

# Ignorar relatórios gerados
reports/** linguist-generated=true

# Ignorar build
build/** linguist-generated=true
